@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .inputResponse {
        width: 16rem;
        height: 2.7rem;
        border-radius: 8px;
        background-color: #FAF9F0;
    }
}